In [1]:
import pandas as pd


data = pd.read_csv('CSVs/ImagenesSinAPI20-11.csv', encoding='utf-8',)
##data['fecha_publicacion'] = pd.to_datetime(data['fecha_publicacion'])

##df = data.T
##df.columns = df.iloc[0]
data

     folio_recepcion          descripcion        fecha_publicacion
0         2023069191  NO IMAGENES CON API  2023-10-17 15:39:43.062
1         2023069226  NO IMAGENES CON API  2023-10-17 15:39:43.975
2         2023069260  NO IMAGENES CON API  2023-10-17 15:39:44.916
3         2023069727  NO IMAGENES CON API  2023-10-17 15:40:02.262
4         2023069907  NO IMAGENES CON API  2023-10-17 15:40:05.115
..               ...                  ...                      ...
728       2023292832  NO IMAGENES CON API  2023-11-20 12:19:13.770
729       2023292867  NO IMAGENES CON API  2023-11-20 12:19:14.774
730       2023292872  NO IMAGENES CON API  2023-11-20 12:19:15.732
731       2023292881  NO IMAGENES CON API  2023-11-20 12:19:16.768
732       2023292898  NO IMAGENES CON API  2023-11-20 12:19:17.695

[733 rows x 3 columns]

In [2]:
pivot_table = pd.pivot_table(data, values= 'folio_recepcion' , index='fecha_publicacion', columns='descripcion', aggfunc='count', fill_value=0,)
pivot_table = pivot_table.reset_index()
pivot_table['fecha_publicacion'] = pivot_table['fecha_publicacion'].str[:10]
pivot_table['fecha_publicacion'] = pd.to_datetime(pivot_table['fecha_publicacion'])
pivot_table

descripcion fecha_publicacion  NO IMAGENES CON API
0                  2023-10-17                    1
1                  2023-10-17                    1
2                  2023-10-17                    1
3                  2023-10-17                    1
4                  2023-10-17                    1
..                        ...                  ...
728                2023-11-20                    1
729                2023-11-20                    1
730                2023-11-20                    1
731                2023-11-20                    1
732                2023-11-20                    1

[733 rows x 2 columns]

In [3]:
columns_to_groupby = ['fecha_publicacion',
                       'COTIZ < LIQ DE SUELDO',
                       'FALTA COTIZ. SALUD',
                       'FECHA CONTRATO TRABAJO EQ FECHA AFILIACION ENTIDAD PREVISIONAL',
                       'NO HAY IMAGENES PARA DESCARGAR',
                       'NO IMAGENES CON API',
                       'NO PROCESADO MEDIPASS',
                       'RENTA = TOPE']

In [5]:
##results = pd.pivot_table(data, values='columna', index='fila', columns='columna', aggfunc='sum')
counts_by_column = pivot_table.groupby('fecha_publicacion').agg('sum')
counts_by_column = counts_by_column.reset_index()
counts_by_column.to_excel('C:/Users/nicom/CSD/analisisEnvioProceso01OCT20-NOV.xlsx', index=True, engine='openpyxl')