In [41]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('CSVs/cuadratura_dv_proceso_MAYO.csv')

# Print the DataFrame
print(df)

       folio_recepcion  estado_final_lm          fecha_recepcion  \
0           2024484435              3.0  2024-05-07 00:03:00.000
1           2024204259              3.0  2024-05-09 17:47:00.000
2           2024204935              3.0  2024-05-10 08:11:00.000
3           2024204360              3.0  2024-05-09 17:05:00.000
4           2024228266              6.0  2024-05-24 00:01:00.000
...                ...              ...                      ...
14924       2024209890              3.0  2024-05-23 20:26:00.000
14925       2024202005              6.0  2024-05-27 00:01:00.000
14926       2024211837              6.0  2024-05-15 00:01:00.000
14927       2024217702              6.0  2024-05-29 00:01:00.000
14928       2024204311              6.0  2024-05-09 00:01:00.000

             fecha_publicacion
0      2024-05-13 21:37:16.617
1      2024-05-15 16:17:07.979
2      2024-05-13 22:17:13.481
3      2024-05-15 16:18:13.522
4      2024-05-27 15:18:03.290
...                        ...
14924  2024-05-29 22:17:54.146
14925  2024-05-28 13:16:21.477
14926  2024-05-22 13:16:39.162
14927  2024-05-30 19:27:58.669
14928  2024-05-15 05:15:52.718

[14929 rows x 4 columns]

In [42]:
import pandas as pd

# Transform fecha_recepcion to datetime format
df['fecha_recepcion'] = pd.to_datetime(df['fecha_recepcion'])

# Subtract 4 hours from all the records
df['fecha_recepcion_adjusted'] = df['fecha_recepcion'] - pd.Timedelta(hours=4)

# Print the updated DataFrame
filtered_df = df.loc[df['fecha_recepcion'].dt.date == pd.to_datetime('2024-04-30').date()]
filtered_df

,folio_recepcion,estado_final_lm,fecha_recepcion,fecha_publicacion,fecha_recepcion_adjusted
334,2024491692,6.0,2024-04-30 23:29:00,2024-05-03 18:29:46.077,2024-04-30 19:29:00
456,2024491840,6.0,2024-04-30 21:43:00,2024-05-08 14:23:13.305,2024-04-30 17:43:00
581,2024489964,3.0,2024-04-30 22:20:00,2024-05-07 17:23:04.642,2024-04-30 18:20:00
582,2024491474,6.0,2024-04-30 22:02:00,2024-05-07 17:24:01.797,2024-04-30 18:02:00
585,2024499316,3.0,2024-04-30 22:40:00,2024-05-07 17:26:11.782,2024-04-30 18:40:00
623,2024486245,6.0,2024-04-30 22:44:00,2024-05-08 18:20:47.545,2024-04-30 18:44:00
957,2024486378,6.0,2024-04-30 22:12:00,2024-05-07 22:25:21.663,2024-04-30 18:12:00
5370,2024491597,3.0,2024-04-30 21:23:00,2024-05-07 22:38:12.656,2024-04-30 17:23:00
8793,2024486113,6.0,2024-04-30 21:21:00,2024-05-07 22:23:56.974,2024-04-30 17:21:00
8882,2024491674,3.0,2024-04-30 23:06:00,2024-05-03 16:17:48.096,2024-04-30 19:06:00
9520,2024486264,6.0,2024-04-30 23:01:00,2024-05-07 17:21:45.740,2024-04-30 19:01:00
9521,2024491816,6.0,2024-04-30 23:04:00,2024-05-07 17:24:56.104,2024-04-30 19:04:00
9525,2024491961,3.0,2024-04-30 22:48:00,2024-05-07 17:25:26.827,2024-04-30 18:48:00
9526,2024489929,3.0,2024-04-30 23:31:00,2024-05-07 17:22:50.602,2024-04-30 19:31:00
9527,2024491677,6.0,2024-04-30 23:50:00,2024-05-07 17:24:13.705,2024-04-30 19:50:00
9536,2024486046,3.0,2024-04-30 22:38:00,2024-05-07 20:17:30.140,2024-04-30 18:38:00
9561,2024499383,3.0,2024-04-30 21:27:00,2024-05-07 18:28:15.515,2024-04-30 17:27:00
9562,2024491376,3.0,2024-04-30 21:37:00,2024-05-07 18:27:41.487,2024-04-30 17:37:00
9563,2024491740,3.0,2024-04-30 21:29:00,2024-05-07 18:28:08.096,2024-04-30 17:29:00
9567,2024486297,3.0,2024-04-30 21:49:00,2024-05-07 18:26:19.524,2024-04-30 17:49:00
9568,2024486334,3.0,2024-04-30 22:00:00,2024-05-07 18:26:25.230,2024-04-30 18:00:00
9569,2024499409,3.0,2024-04-30 21:56:00,2024-05-07 18:28:20.920,2024-04-30 17:56:00

In [43]:

df['contract_date'] = df['fecha_recepcion_adjusted']
df.loc[df['contract_date'].dt.hour >= 17, 'contract_date'] += pd.Timedelta(days=1)
df.loc[df['contract_date'].dt.dayofweek == 5, 'contract_date'] += pd.Timedelta(days=2)
df['contract_date'] = df['contract_date'].dt.date

df

,folio_recepcion,estado_final_lm,fecha_recepcion,fecha_publicacion,fecha_recepcion_adjusted,contract_date
0,2024484435,3.0,2024-05-07 00:03:00,2024-05-13 21:37:16.617,2024-05-06 20:03:00,2024-05-07
1,2024204259,3.0,2024-05-09 17:47:00,2024-05-15 16:17:07.979,2024-05-09 13:47:00,2024-05-09
2,2024204935,3.0,2024-05-10 08:11:00,2024-05-13 22:17:13.481,2024-05-10 04:11:00,2024-05-10
3,2024204360,3.0,2024-05-09 17:05:00,2024-05-15 16:18:13.522,2024-05-09 13:05:00,2024-05-09
4,2024228266,6.0,2024-05-24 00:01:00,2024-05-27 15:18:03.290,2024-05-23 20:01:00,2024-05-24
...,...,...,...,...,...,...
14924,2024209890,3.0,2024-05-23 20:26:00,2024-05-29 22:17:54.146,2024-05-23 16:26:00,2024-05-23
14925,2024202005,6.0,2024-05-27 00:01:00,2024-05-28 13:16:21.477,2024-05-26 20:01:00,2024-05-27
14926,2024211837,6.0,2024-05-15 00:01:00,2024-05-22 13:16:39.162,2024-05-14 20:01:00,2024-05-15
14927,2024217702,6.0,2024-05-29 00:01:00,2024-05-30 19:27:58.669,2024-05-28 20:01:00,2024-05-29
14928,2024204311,6.0,2024-05-09 00:01:00,2024-05-15 05:15:52.718,2024-05-08 20:01:00,2024-05-09

In [44]:
pivot_table = df.pivot_table(index='contract_date', columns='estado_final_lm', aggfunc='size', fill_value=0)
pivot_table = pivot_table.apply(lambda x: x / x.sum(), axis=1)

pivot_table

estado_final_lm       3.0       4.0       6.0
contract_date
2024-05-01       0.590909  0.000000  0.409091
2024-05-02       0.456845  0.047619  0.495536
2024-05-03       0.592732  0.082707  0.324561
2024-05-06       0.568475  0.056848  0.374677
2024-05-07       0.445283  0.041509  0.513208
2024-05-08       0.585311  0.053107  0.361582
2024-05-09       0.441315  0.031690  0.526995
2024-05-10       0.556426  0.034483  0.409091
2024-05-13       0.444832  0.023229  0.531940
2024-05-14       0.499388  0.036720  0.463892
2024-05-15       0.577070  0.038217  0.384713
2024-05-16       0.496503  0.027972  0.475524
2024-05-17       0.493333  0.028000  0.478667
2024-05-20       0.611404  0.042239  0.346357
2024-05-21       0.833333  0.000000  0.166667
2024-05-22       0.506587  0.035928  0.457485
2024-05-23       0.362000  0.023000  0.615000
2024-05-24       0.512322  0.042802  0.444877
2024-05-27       0.551000  0.034000  0.415000
2024-05-28       0.600382  0.030593  0.369025
2024-05-29       0.245847  0.016611  0.737542
2024-05-30       0.000000  0.000000  1.000000

In [45]:
import pandas as pd

# Generar la tabla pivote con conteo
pivot_table_2 = pd.pivot_table(df, values='folio_recepcion', index='contract_date', columns='estado_final_lm', aggfunc='count', fill_value=0)

# Agregar una columna con el conteo final por fecha
pivot_table_2['conteo_final'] = pivot_table_2.sum(axis=1)

# Mostrar la tabla pivote
print(pivot_table_2)

estado_final_lm  3.0  4.0  6.0  conteo_final
contract_date
2024-05-01        13    0    9            22
2024-05-02       307   32  333           672
2024-05-03       473   66  259           798
2024-05-06       440   44  290           774
2024-05-07       354   33  408           795
2024-05-08       518   47  320           885
2024-05-09       376   27  449           852
2024-05-10       355   22  261           638
2024-05-13       383   20  458           861
2024-05-14       408   30  379           817
2024-05-15       453   30  302           785
2024-05-16       426   24  408           858
2024-05-17       370   21  359           750
2024-05-20       579   40  328           947
2024-05-21        10    0    2            12
2024-05-22       423   30  382           835
2024-05-23       362   23  615          1000
2024-05-24       395   33  343           771
2024-05-27       551   34  415          1000
2024-05-28       314   16  193           523
2024-05-29        74    5  222           301
2024-05-30         0    0    1             1